@charset "UTF-8";

/*----------------------------------
------------------------------------

common

------------------------------------
------------------------------------*/

* {
	margin:0px;
	padding:0px;
}

body {
	/*font-family:'メイリオ', Meiryo , 'Osaka','ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3',Hiragino Kaku Gothic Pro;*/
	font-family:"verdana","Lucida Grande","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","Arial","Lucida Sans Unicode","sans-serif";
	text-align:center;
	color:#333;
	background:#fff;
	margin:0px;
	padding:0px;
}

h1 {
	margin:0px;
	padding:0px;
}

h2 {
	margin:0px;
	padding:0px;
}

h3 {
	margin:0px;
	padding:0px;
}

table {
	border:none;
	padding:0px;
	margin:0px;
}

img {
	border:none;
}

ul ,
dl {
	list-style-type:none;
	margin:0px;
	padding:0px;
	zoom:1;
	overflow:hidden;
}

li ,
dd ,
dt {
	list-style-type:none;
	margin:0px;
	padding:0px;
	zoom:1;
	overflow:hidden;
}

a {
	text-decoration:underline;
	color:#555;
}

a:hover {
	text-decoration:none;
	color:#F90;
}


/*----------------------------------
------------------------------------

base

------------------------------------
------------------------------------*/

#wrap {
	background:url(../img/common/bg/headBg.png) repeat-x top #EEEEEE;
	overflow:hidden;
	zoom:1;
}

#head {
	width:960px;
	height:95px;
	overflow:hidden;
	zoom:1;
	margin:0 auto;
}
#head .headInner {
	height:20px;
}
#head .headInner h1 {
	width:600px;
	font-size:10px;
	line-height:20px;
	text-align:left;
	color:#FFF;
	float:left;
}
#head .headInner .headMenu {
	width:360px;
	font-size:10px;
	line-height:20px;
	text-align:right;
	color:#FFF;
	float:right;
}
#head .headInner .headMenu a {
	color:#FFF;
}
#head #logo {
	width:200px;
	height:75px;
	float:left;
}
#head .headContent {
	width:750px;
	height:64px;
	float:right;
	padding-top:9px;
	overflow:hidden;
	zoom:1;
}
#head .headContent .searchBox {
	width:340px;
	height:24px;
	float:right;
}
#head .headContent dl {
}
#head .headContent dl dt {
	width:70px;
	float:left;
}
#head .headContent dl dd {
	width:270px;
	float:left;
}
#head .headContent dl dd input {
	width:180px;
	height:20px;
	font-size:12px;
	line-height:16px;
	padding:0;
	margin:0;
	white-space:nowrap;
	float:left;
}
#head .headContent dl dd .btn {
	width:80px;
	float:right;
}
#head .headContent dl dd .btn input {
	width:80px;
}

/*----------------------------------

menu

------------------------------------*/

#head ul {
	width:750px;
	height:28px;
	padding-top:8px;
	clear:both;
}
#head ul li {
	height:28px;
	float:left;
}
#head ul li a {
	height:28px;
	display:block;
	text-indent:-5000px;
	overflow:hidden;
}
#head ul li.menu01 {
	width:79px;
	background:url(../img/common/menu/menu01-on.png) no-repeat top;
}
#head ul li.menu01 a {
	width:79px;
	background:url(../img/common/menu/menu01.png) no-repeat top;
}
#head ul li.menu01 a:hover {
	background:url(../img/common/menu/menu01-on.png) no-repeat top;
}

#head ul li.menu02 {
	width:81px;
	background:url(../img/common/menu/menu02-on.png) no-repeat top;
}
#head ul li.menu02 a {
	width:81px;
	background:url(../img/common/menu/menu02.png) no-repeat top;
}
#head ul li.menu02 a:hover {
	background:url(../img/common/menu/menu02-on.png) no-repeat top;
}

#head ul li.menu03 {
	width:113px;
	background:url(../img/common/menu/menu03-on.png) no-repeat top;
}
#head ul li.menu03 a {
	width:113px;
	background:url(../img/common/menu/menu03.png) no-repeat top;
}
#head ul li.menu03 a:hover {
	background:url(../img/common/menu/menu03-on.png) no-repeat top;
}

#head ul li.menu04 {
	width:114px;
	background:url(../img/common/menu/menu04-on.png) no-repeat top;
}
#head ul li.menu04 a {
	width:114px;
	background:url(../img/common/menu/menu04.png) no-repeat top;
}
#head ul li.menu04 a:hover {
	background:url(../img/common/menu/menu04-on.png) no-repeat top;
}
#head ul li.menu04 .com {
	width:114px;
	height:25px;
	position:absolute;
	float:left;
	margin:-25px 0 0 0;
}

#head ul li.menu05 {
	width:87px;
	background:url(../img/common/menu/menu05-on.png) no-repeat top;
}
#head ul li.menu05 a {
	width:87px;
	background:url(../img/common/menu/menu05.png) no-repeat top;
}
#head ul li.menu05 a:hover {
	background:url(../img/common/menu/menu05-on.png) no-repeat top;
}

#head ul li.menu06 {
	width:90px;
	background:url(../img/common/menu/menu06-on.png) no-repeat top;
}
#head ul li.menu06 a {
	width:90px;
	background:url(../img/common/menu/menu06.png) no-repeat top;
}
#head ul li.menu06 a:hover {
	background:url(../img/common/menu/menu06-on.png) no-repeat top;
}

#head ul li.menu07 {
	width:108px;
	background:url(../img/common/menu/menu07-on.png) no-repeat top;
}
#head ul li.menu07 a {
	width:108px;
	background:url(../img/common/menu/menu07.png) no-repeat top;
}
#head ul li.menu07 a:hover {
	background:url(../img/common/menu/menu07-on.png) no-repeat top;
}

#head ul li.menu08 {
	width:78px;
	background:url(../img/common/menu/menu08-on.png) no-repeat top;
}
#head ul li.menu08 a {
	width:78px;
	background:url(../img/common/menu/menu08.png) no-repeat top;
}
#head ul li.menu08 a:hover {
	background:url(../img/common/menu/menu08-on.png) no-repeat top;
}


/*----------------------------------
------------------------------------

contents

------------------------------------
------------------------------------*/

#contents {
	width:962px;
	text-align:left;
	padding-top:20px;
	margin:0 auto 15px auto;
	clear:both;
	overflow:hidden;
	zoom:1;
}


/*----------------------------------
------------------------------------

foot

------------------------------------
------------------------------------*/

#foot {
	height:50px;
	font-size:10px;
	background:url(../img/common/bg/footBg.png) repeat-x bottom;
	padding-top:5px;
	clear:both;
}
#foot .copyright {
	width:960px;
	line-height:22px;
	color:#FFF;
	margin:0 auto;
}
#foot .footMenu {
	width:960px;
	height:28px;
	line-height:28px;
	text-align:center;
	margin:0 auto;
	overflow:hidden;
	zoom:1;
}

/*2013324並び順番切り替えタブ*/
#tab a:link{
	color:#666666;
}

#tab a:hover{
	color:#339900;
}

#tab a:active{
	color:#339900;
}

#tab {
       font-size:14px;
       font-weight:bold;
}
	