/* Moviebox and Slimbox stylesheet - black theme */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #666;
	cursor: pointer;
}

#lbCenter {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
	border-top:5px solid #666666;
	border-left:5px solid #666666;
	border-right:5px solid #666666;
}
#lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
	border-bottom:5px solid #666666;
	border-left:5px solid #666666;
	border-right:5px solid #666666;
}

.lbLoading {
	background: #fff url(md_images/1_loading.gif) no-repeat center;
}

#lbImage {
	width:790px;
	overflow:hidden;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(md_images/1_prev.png) no-repeat 0% 30%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(md_images/1_next.png) no-repeat 100% 30%;
}

#lbBottom {
	height:30px;
	padding:20px 0;
}

#lbCloseLink {
	width:174px;
	height:30px;
	background:url(../img/pop/closeBtn.png) no-repeat;
	display: block;
	margin:0 auto;
}
##lbCloseLink a:hover {
	background:url(../img/pop/closeBtn-on.png) no-repeat;
}


#lbCaption, #lbNumber {
	margin-right: 14px;

}

#lbCaption {
	font-weight: bold;
}


